<section class="w-full bg-white py-12 px-6 md:px-12">
  <div class="max-w-7xl mx-auto text-center space-y-2">
    <!-- Section Header -->
    <h2 class="text-3xl sm:text-4xl font-semibold text-[#4D4D4D]">
      Our Clients
    </h2>
    <p class="text-[#717171] text-sm sm:text-base">
      We have been working with some Fortune 500+ clients
    </p>

    <!-- Client Logos Container -->
    <div
      class="pt-8 flex flex-wrap items-center justify-between gap-8 md:gap-12"
    >
      <!-- Logo 1 -->
      <div
        class="flex items-center justify-center grayscale hover:grayscale-0 transition-all opacity-80 hover:opacity-100 cursor-pointer"
      >
        <img src="/assest/logo/logo-1.svg" alt="Client Logo 1" />
      </div>

      <!-- Logo 2 -->
      <div
        class="flex items-center justify-center grayscale hover:grayscale-0 transition-all opacity-80 hover:opacity-100 cursor-pointer"
      >
        <img src="/assest/logo/logo-2.svg" alt="Client Logo 2" />
      </div>

      <!-- Logo 3 -->
      <div
        class="flex items-center justify-center grayscale hover:grayscale-0 transition-all opacity-80 hover:opacity-100 cursor-pointer"
      >
        <img src="/assest/logo/logo-3.svg" alt="Client Logo 3" />
      </div>

      <!-- Logo 4  -->
      <div
        class="flex items-center justify-center grayscale hover:grayscale-0 transition-all opacity-80 hover:opacity-100 cursor-pointer"
      >
        <img src="/assest/logo/logo-4.svg" alt="Client Logo 4" />
      </div>

      <!-- Logo 5 -->
      <div
        class="flex items-center justify-center grayscale hover:grayscale-0 transition-all opacity-80 hover:opacity-100 cursor-pointer"
      >
        <img src="/assest/logo/logo-5.svg" alt="Client Logo 5" />
      </div>

      <!-- Logo 6 -->
      <div
        class="flex items-center justify-center grayscale hover:grayscale-0 transition-all opacity-80 hover:opacity-100 cursor-pointer"
      >
        <img src="/assest/logo/logo-6.svg" alt="Client Logo 6" />
      </div>

      <!-- Logo 7 -->
      <div
        class="flex items-center justify-center grayscale hover:grayscale-0 transition-all opacity-80 hover:opacity-100 cursor-pointer"
      >
        <img src="/assest/logo/logo-7.svg" alt="Client Logo 7" />
      </div>
    </div>
  </div>
</section>
